$orange-font-color:rgb(255, 176, 130);
$accent-font-color:rgb(255, 255, 255);
$menu-button-font-color:white;

$accent-color:#e4fff9;
$basic-color:rgb(163, 149, 254);

$background:linear-gradient(
  42deg,
  rgba(163, 149, 254, 1) 0%,
  rgba(67, 217, 212, 0.9976365546218487) 53%,
  rgba(9, 182, 138, 1) 100%
);