.flip-card {
  margin: 10px;
  perspective: 1000;

  .flip-card__image {
    height: 80%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
  }

  .flip-card__text {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    font-size: 26px;
    color: $accent-font-color;
  }
}

.flip-card--rotate {
  transform: rotateY(180deg);
}

.flip-card,
.flip-card__front,
.flip-card__back {
  width: 240px;
  height: 240px;

  cursor: pointer;
}

.flip-card__flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.flip-card__front,
.flip-card__back {
  transition: all 0.3s ease;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  background: $background;
  position: absolute;
  top: 0;
  left: 0;
  &:hover {
    box-shadow: 0 0 10px black;
  }
}

.flip-card__front {
  z-index: 2;
}

.flip-card__back {
  transform: rotateY(180deg);
}

.flip-card--success::after
{
  background-image: url('../public/images/success.png');
}

.flip-card--error::after
{
  background-image: url('../public/images/error.png');
}

.flip-card--success::after,
.flip-card--error::after
{
  position: absolute;
  width: 240px;
  height: 240px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  z-index: 9;
  content: '';
  cursor: default;
}