.game-bar 
{
  width:100%;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &.game-bar--visible
  {
    height: 50px;
    display: flex;
  }

  &.game-bar--hide
  {
    height: 0px;
    opacity: 0;
    display: flex;
  }

  .game-bar__button
  {
    margin-left:10px;
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
    width:310px;
    height: 31px;
    display:flex;
    justify-content: center;
    background: $background;
    color:$accent-font-color;
    font-size: 31px;
    padding:5px;
    border-radius: 5px;

    box-shadow: 0 0 10px gray;

    &:hover{
      box-shadow: 0 0 10px black;
    }
  } 
}