html{
  overflow-y: scroll;
}

html,
body {
  margin:0;
  padding:0;
}

.page-content {
  min-width: 320px;
  display: grid;
  align-items: center;
  justify-items: center; 
  font-family: 'Roboto', sans-serif;

  align-items: center;
  justify-items: center;

  @media (min-width: 1281px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}