$sidebar-width:250px;
$sidebar-min-height:600px;
$sidebar-button-width:180px;
$sidebar-button-height:40px;

.sidebar {
  .sidebar__menu {
    z-index: 12;
    width: $sidebar-width;
    min-height: $sidebar-min-height;
    position: absolute;
    background: $basic-color;
    background: $background;
    border-right: 5px solid $accent-color;
    height: calc(100vh);
    transition: all 0.3 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $menu-button-font-color;

    border-bottom-right-radius: 5px;

    .sidebar__button {
      padding-left: 5px;
      transition: all ease 0.2s;
      font-size: 100%;
      user-select: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: $sidebar-button-height;
      border: 3px solid $menu-button-font-color;
      border-radius: 5px;
      width: $sidebar-button-width;
      margin-top: 5px;

      &:hover {
        border: 3px solid $orange-font-color;
      }
    }

    .sidebar__button--active {
      border: 3px solid $orange-font-color;
    }

    &.sidebar__menu--hide {
      margin-left: -255px;
      animation: hide 0.3s;
    }

    &.sidebar__menu--show {
      margin-left: 0px;
      animation: show 0.3s;
    }

    @keyframes show {
      0% {
        margin-left: -255px;
      }
      100% {
        margin-left: 0px;
      }
    }

    @keyframes hide {
      0% {
        margin-left: 0px;
      }
      100% {
        margin-left: -255px;
      }
    }
  }
}