.category-stat {
  min-width: 320px;
  padding: 10px;
  transition: all 0.3s ease;

  .category-stat__head {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    border-right: 2px solid white;
    text-align: center;
    width:400px;
    overflow: hidden;
    border-bottom:2px solid white;
  }

  .category-stat__sorter
  {
    cursor: pointer;

    &:hover{
      color:$orange-font-color;
    }
  }

  .category-stat__value {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    border-right: 1px solid gray;
    text-align: center;
    width:400px;
    overflow: hidden;
    border-bottom:1px solid gray;
  }

  .category-stat__name {
    padding: 3px;
    background: $background;
    display: inline-flex;
    color:white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
  }

  .category-stat-values-row {
    background: $background;
    display: flex;
    justify-content: center;
    min-width: 320px;
    color:white;
  }

  .category-stat-header-row {
    background: $background;
    display: flex;
    justify-content: center;
    border-top-right-radius: 5px;
    min-width: 320px;
    color:white;
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    .category-stat__name {
      padding-left: 10px;
    }

    .category-stat__head,
    .category-stat__value {
      font-size: 24px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .category-stat__name {
      padding-left: 5px;
    }

    .category-stat__head,
    .category-stat__value {
      font-size:18px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .category-stat__name {
      padding-left: 3px;
    }

    .category-stat__head,
    .category-stat__value {
      font-size: 14px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .category-stat__name {
      padding-left: 3px;
    }

    .category-stat__head,
    .category-stat__value {
      font-size: 10px;
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .category-stat__name {
      padding-left: 2px;
    }

    .category-stat__head,
    .category-stat__value {
      font-size: 6px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}

.stat-button-container{
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;

.stat-button
  {
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
    width:200px;
    height: 31px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: $background;
    color:$accent-font-color;
    font-size: 18px;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;

    &:hover{
      box-shadow: 0 0 10px black;
    }
  } 
}